:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.p-dialog-content {
  padding: 2rem 1.5rem 2rem 1.5rem !important;
}

.p-messages {
  width: 90vw !important;
}

.loading-modal {
  text-align: center !important;
  padding-top: 1.5rem;
}

.table-title {
  text-align: center !important;
  padding-bottom: 20px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}
