:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.p-dialog-content {
  padding: 2rem 1.5rem 2rem 1.5rem !important;
}

.loading-modal {
  text-align: center !important;
  padding-top: 1.5rem;
}
